<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "breadcrumbs.html" . }}

        <div id="content">

            <div class="container">

                <div class="row">

                    <div class="col-md-12 samm-page-content">
                        {{ $practicepagename := (replace .Params.practice "&" "and")  }}
                        <h3>
                            <a href="../../../">Model</a> | <a href="../../../{{ .Params.business_function_url }}">{{ .Params.business_function }}</a> | <a href="/model/{{ .Params.business_function | urlize }}/{{ $practicepagename | urlize }}">{{ .Params.practice }}</a> | {{ .Params.title }}
                        </h3>

                        {{ partial "tabs.html" . }}

<!-- References and Guidance -->
<div>
  <h3>OWASP Project References</h3>
    <table class="table">
      <tbody>
          <tr>
            <td>Link1</td>
          </tr>
          <tr>
            <td>Link2</td>
          </tr>
          <tr>
            <td>Link3</td>
          </tr>
      </tbody>
    </table>
  <h3>Guidance for this stream</h3>
    <h4>Project Guidance</h4>
      <p>Link to Google Doc</p>
      <br>
    <h4>Community Guidance</h4>
      <p>Link to Google Doc</p>
      <br>

    </br>
    <blockquote>
      <p>To learn more about guidance for the SAMM model, see link.</p>
    </blockquote>
</div>
<!-- end References and Guidance -->


                        <div>
                          {{ .Content }}
                        </div>
    
                    </div>

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->

        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
