<section class="bar background-gray no-mb">
    <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="heading text-center">
                  <h2>USER DAY</h2>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="flex-banner-container">
            <img src="img/banners/calendar.svg" class="img-left"/>
              <p class="lead text-center">
                <br/>Washington DC, USA
                <br/>November 5th
              </p>
              <img src="img/banners/world.svg" class="img-right"/>
           </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <p class="text-center">
                <a href="/user-day/" class="btn btn-template-transparent-main btn-lg" style="margin-left:10px;">User Day page</a>
                &nbsp;
                <a href="https://owasp.glueup.com/event/131624/register/" class="btn btn-template-transparent-main btn-lg" style="margin-left:10px;" target="_blank">Register</a>
              </p>
              
          </div>
      </div>
  
    </div>
  </section>