<section class="bar background-gray no-mb">
    <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="heading text-center">
                  <h2>USER DAY SAN FRANCISCO</h2>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="flex-banner-container">
              <img src="img/banners/sud_sanfran_24_left.svg" class="img-left"/>
              <p class="lead text-center">
                <br/><b>Wednesday, September 25th</b>
                    <br/>San Francisco, USA
              </p>
              <img src="img/banners/sud_sanfran_24_right.svg" class="img-right"/>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <p class="text-center">
                <a href="/user-day/" class="btn btn-template-transparent-main btn-lg" style="margin-left:10px;">Learn more</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSeFMEjWLyiZXtN80mV-CscON-sW0lelhegBxwjauj_anurj9g/viewform?usp=sf_link" class="btn btn-template-transparent-main btn-lg" style="margin-left:10px;">Call for presentations</a>
              </p>
              
          </div>
      </div>
  
    </div>
  </section>