<section class="bar background-gray no-mb">
    <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="heading text-center">
                  <h2>SAMM USER DAY 2024</h2>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="flex-banner-container">
              <img src="img/banners/SUD24CFP_left.svg" class="img-left"/>
              <p class="lead text-center">
                  <br/>Call for presentations
                  <br/>June 26 - Lisbon
              </p>
              <img src="img/banners/SUD24CFP_right.svg" class="img-right"/>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <p class="text-center">
                <a href="/user-day/" class="btn btn-template-transparent-main btn-lg" style="margin-left:10px;">Learn more</a>
              </p>
              
          </div>
      </div>
  
    </div>
  </section>