<section class="bar background-gray no-mb">
    <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="heading text-center">
                  <h2>USER DAY SAN FRANCISCO</h2>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="flex-banner-container">
              <img src="img/banners/guy_left.svg" class="img-left"/>
              <p class="lead text-center">
                <br/><b>Thank you all for an exciting event!</b>
                <br/><br/>Check out the day's highlights
                <br/>on our User Day page.
              </p>
              <img src="img/banners/woman_right.svg" class="img-right"/>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <p class="text-center">
                <a href="/user-day/" class="btn btn-template-transparent-main btn-lg" style="margin-left:10px;">See highlights</a>
              </p>
              
          </div>
      </div>
  
    </div>
  </section>