<section class="bar background-gray no-mb">
  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="heading text-center">
                <h2>SAMM questionnaire</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="flex-banner-container">
            <img src="img/banners/survey_left.svg" class="img-left"/>
            <p class="lead text-center">
                <br/>
                Please, take a few minutes to help us<br/>
                improve software security on a global scale.
                
            </p>
            <img src="img/banners/survey_right.svg" class="img-right"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="text-center">
              <a href="https://forms.gle/BGfJzKXYLFhCxQB26" target="_blank" class="btn btn-template-transparent-main btn-lg" style="margin-left:10px;">
                Complete the questionnaire
            </a>
            </p>
            
        </div>
    </div>

  </div>
</section>