<section class="bar background-sud no-mb">
        <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="heading text-center">
                      <h2>Mini User Day</h2>
                  </div>
              </div>
          </div>
          <div class="row">
            <p class="highlight text-center">
            </p>
            <p class="lead text-center">
                Wednesday, December 8th 21:30 CET/3:30 pm EST
                <br><br>
                OWASP 20th anniversary presentation of SAMM
                <br>
                Deep dive on scoping a SAMM project
            </p>
            
          </div>
          <div class="row">
              <div class="col-md-12">
                  <p class="text-center">
                      <a href="https://zoom.us/j/96866048960?pwd=TmZkTSs3ZmlWU09DbHJoSnVZWmdiUT09" class="btn btn-template-transparent-main btn-lg" style="margin-left:10px;">Zoom link</a>
                      <a href="/user-day/" class="btn btn-template-transparent-main btn-lg" style="margin-left:10px;">Learn more</a>
                  </p>
                  
              </div>
          </div>
      
        </div>
      </section>