<section class="bar background-gray no-mb">
    <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="heading text-center">
                  <h2>WATCH ON YOUTUBE</h2>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="flex-banner-container">
              <p class="lead text-center">
                <br/>Watch the SAMM User Day Barcelona presentations
                <br/>on our YouTube channel.
              </p>
           </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <p class="text-center">
                <a href="/user-day/" class="btn btn-template-transparent-main btn-lg" style="margin-left:10px;">User Day page</a>
                <a href="https://www.youtube.com/playlist?list=PLL2wt4pQkkuIozLAeKenPCSVm0_tEQj_O" class="btn btn-template-transparent-main btn-lg" style="margin-left:10px;" target="_blank">SAMM Presentations on YouTube</a>
              </p>
              
          </div>
      </div>
  
    </div>
  </section>