<section class="bar background-gray no-mb">
  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="heading text-center">
                <h2>SAMM PDF</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="flex-banner-container">
            <img src="img/banners/deliver1.svg" class="img-left"/>
            <p class="lead text-center">
                <br/>
                It's here! We're happy to announce<br/>the new PDF document for SAMM version 2.
                
            </p>
            <img src="img/banners/deliver.svg" class="img-right"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="text-center">
              <a href="https://drive.google.com/file/d/1cI3Qzfrly_X89z7StLWI5p_Jfqs0-OZv/view?usp=sharing" class="btn btn-template-transparent-main btn-lg" style="margin-left:10px;">Download SAMM v2 PDF</a>
            </p>
            
        </div>
    </div>

  </div>
</section>