<!-- Tab links -->
<div class="tab">
  <button class="tablinks" onclick="openMaturityLevel(event, '1')" id="maturity1">{{ i18n "maturitylevel" }} 1</button>
  <button class="tablinks" onclick="openMaturityLevel(event, '2')" id="maturity2">{{ i18n "maturitylevel" }} 2</button>
  <button class="tablinks" onclick="openMaturityLevel(event, '3')" id="maturity3">{{ i18n "maturitylevel" }} 3</button>
</div>
  
    <!-- Tab content -->
    {{ $maturitylevels := .Params.maturity_levels }}
  {{ range $maturitylevels }}
    <div id="{{ .level }}" class="tabcontent">
        <h2>{{ .title }}</h2>
    
        <h3>{{ i18n "benefit" }}</h3>
        <p>{{ .benefit | markdownify }}</p>

        <h3>{{ i18n "activity" }}</h3>
        <p>{{ .activity | markdownify }}</p>

        <h3>{{ i18n "question" }}</h3>
        <p>{{ .question }}</p>

        <h3>{{ i18n "qualitycriteria" }}</h3>
        <table class="table">
          <tbody>
              {{ range .quality_criteria }}
                <tr>
                  <td>{{ . }}</td>
                </tr>
              {{ end }}
          </tbody>
        </table>
        <h3>
          {{ i18n "answers" }}
        </h3>
        <table class="table">
            <tbody>
              {{ range .answers }}
                <tr>
                  <td>{{ . }}</td>
                </tr>
              {{ end }}
            </tbody>
          </table>
    </div>
    {{ end }}
