<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{ $targetUrl := .Params.target }}
    
    {{ $time := 0 }}
    {{ if (isset .Params "time") }}
    {{ $time := .Params.time }}
    {{ end }}

    {{ $targetname := $targetUrl }}
    {{ if (isset .Params "targetname") }}
    {{ $targetname := .Params.targetname }}
    {{ end }}

    {{ $title := "Redirecting" }}
    {{ if (isset .Params "targettitle") }}
    {{ $title := .Params.targettitle }}
    {{ end }}

    <meta http-equiv="refresh" content="{{ $time }};url={{ $targetUrl }}"/>
    <link rel="canonical" href="{{ $targetUrl }}"/>
    <title>{{ $title }}</title>
    <style>
        body {
            font-family: sans-serif;
            max-width: 40em;
            margin: 1em auto;
        }
    </style>
</head>
<body>
    <h1>{{ $title }}</h1>
   
    {{ with .Params.message }}
    <p>{{ . }}</p>
    {{ else }}
    <p>This document has moved!</p>
    {{ end }}

    <p>Redirecting to <a href="{{ $targetUrl }}">{{ $targetname }}</a> in {{ $time }} seconds.</p>

</body>
</html>
