<table class="table">
    <thead>
        <tr>
            <th align="left"><a href="gouvernance">Gouvernance</a></th>
            <th align="left"><a href="conception">Conception</a></th>
            <th align="left"><a href="implementation">Implémentation</a></th>
            <th align="left"><a href="verification">Vérification</a></th>
            <th align="left"><a href="operations">Opérations</a></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td align="left"><a href="gouvernance/strategie-and-metriques">Stratégie et Métriques</a></td>
            <td align="left"><a href="conception/evaluation-de-la-menace">Évaluation de la Menace</a></td>
            <td align="left"><a href="implementation/generation-securisee">Génération Sécurisée</a></td>
            <td align="left"><a href="verification/evaluation-de-larchitecture">Évaluation de l'Architecture</a></td>
            <td align="left"><a href="operations/gestion-des-incidents">Gestion des Incidents</a></td>
        </tr>
        <tr>
            <td align="left"><a href="gouvernance/politique-and-conformite">Politique et Conformité</a></td>
            <td align="left"><a href="conception/exigences-de-securite">Exigences de Sécurité</a></td>
            <td align="left"><a href="implementation/deploiement-securise">Déploiement Sécurisé</a></td>
            <td align="left"><a href="verification/tests-axes-sur-les-exigences">Tests Axés sur les Exigences</a></td>
            <td align="left"><a href="operations/gestion-de-lenvironnement">Gestion de l'Environnement</a></td>
        </tr>
        <tr>
            <td align="left"><a href="gouvernance/education-and-orientation">Éducation et Orientation</a></td>
            <td align="left"><a href="conception/architecture-de-securite">Architecture de Sécurité</a></td>
            <td align="left"><a href="implementation/gestion-des-defauts">Gestion des Défauts</a></td>
            <td align="left"><a href="verification/tests-de-securite">Tests de Sécurité</a></td>
            <td align="left"><a href="operations/gestion-operationnelle">Gestion Opérationnelle</a></td>
        </tr>
    </tbody>
</table>