<table class="table">
    <thead>
        <tr>
            <th align="left"><a href="governance">Gouvernance</a></th>
            <th align="left"><a href="design">Conception</a></th>
            <th align="left"><a href="implementation">Implémentation</a></th>
            <th align="left"><a href="verification">Vérification</a></th>
            <th align="left"><a href="operations">Opérations</a></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td align="left"><a href="governance/strategy-and-metrics">Stratégie & Métriques</a></td>
            <td align="left"><a href="design/threat-assessment">Évaluation de la menace</a></td>
            <td align="left"><a href="implementation/secure-build">Génération Sécurisée</a></td>
            <td align="left"><a href="verification/architecture-assessment">Évaluation de l'architecture</a></td>
            <td align="left"><a href="operations/incident-management">Gestion des incidents</a></td>
        </tr>
        <tr>
            <td align="left"><a href="governance/policy-and-compliance">Politique & Conformité</a></td>
            <td align="left"><a href="design/security-requirements">Exigences de Sécurité</a></td>
            <td align="left"><a href="implementation/secure-deployment">Déploiement Sécurisé</a></td>
            <td align="left"><a href="verification/requirements-driven-testing">Tests axés sur les exigences</a></td>
            <td align="left"><a href="operations/environment-management">Gestion de l'environnement</a></td>
        </tr>
        <tr>
            <td align="left"><a href="governance/education-and-guidance">Éducation & Orientation</a></td>
            <td align="left"><a href="design/secure-architecture">Architecture de Sécurité</a></td>
            <td align="left"><a href="implementation/defect-management">Gestion des Défauts</a></td>
            <td align="left"><a href="verification/security-testing">Tests de sécurité</a></td>
            <td align="left"><a href="operations/operational-management">Gestion opérationnelle</a></td>
        </tr>
    </tbody>
</table>