{{ $supportertier := .Get 0 }}
<!-- where clause isn't working - fix this later -->
{{ $supporters := where .Site.Data.sponsors "tier" $supportertier }}


<div class="sponsors-flex-container">

  {{ range .Site.Data.sponsors }}

    {{ if eq .tier $supportertier }}
       
      {{ if ne $supportertier "Bronze" }}
        {{ if .url }}
          <a href="{{ .url }}" target="_blank">
            <img src="{{ $.Site.BaseURL }}{{ .image200 }}" alt="{{ .name }}" />
          </a>
        {{ else }}
          <img src="{{ $.Site.BaseURL }}{{ .image200 }}" alt="{{ .name }}" />
        {{ end }}

      {{ else }}

        {{ if .url }}
          <h4><a href="{{ .url }}" target="_blank">{{ .name }}</a></h4>
        {{ else }}
          <p>{{ .name }}</p>
        {{ end }}
      {{ end }}

    {{ end }}

  {{ end }}
</div>
